<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login Page</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>

    <div class="container">
        <div class="login-box">
            <h2>Login</h2>
            <form action="#" method="post">
                {% csrf_token %}

                <div class="textbox">
                    <input type="text" placeholder="E-mail" name="username" required>
                </div>
                <div class="textbox">
                    <input type="password" placeholder="Password" name="password" required>
                </div>


                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    {{ message }}
                  </div>
                  {% endfor %}
                {% endif %}


                <input type="submit" value="Login">
            </form>
            <div class="register-link">
                <p>Don't have an account? <a href="register">Register here</a></p>
            </div>
        </div>
    </div>

</body>
</html> -->




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Login Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>

    <div class="login-container">
        <form action="" class="form-login" method="post">
            {% csrf_token %}
            <ul class="login-nav">
                <li class="login-nav__item active">
                    <a href="">Sign In</a>
                </li>
                <li class="login-nav__item">
                    <a href="register">Sign Up</a>
                </li>
            </ul>
    
            <label for="login-input-user" class="login__label">
                E-mail
            </label>
            <input id="login-input-user" class="login__input" type="text" name="username" />
    
    
            <label for="login-input-password" class="login__label">
                Password
            </label>
            <input id="login-input-password" class="login__input" type="password" name="password" />

            <div class="warning_msg">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                {{ message }}
              </div>
              {% endfor %}
            {% endif %}
        </div>
    
            <label for="login-sign-up" class="login__label--checkbox">
                <input id="login-sign-up" type="checkbox" class="login__input--checkbox" />
                Keep me Signed in
            </label>
            <button class="login__submit" type="submit" >Sign in</button>
        </form>
        <a href="#" class="login__forgot">Forgot Password?</a>
    </div>



</body>
</html>









